.Button {
  background-color: #0c55ff;
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  color: #f9fbfc;
  font-size: 15px;
  margin: 0;
  padding: 20px;
  font-family: 'pokemon';
}

.Button:hover {
  background-color: #f9fbfc;
  color: #220ddd;
}
