.Button {
  background-color: #0c55ff;
  width: 10vh;
  height: 10vh;
  color: #f9fbfc;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  border: 1px solid black;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.Button:hover {
  background-color: #f9fbfc;
  color: #220ddd;
}
