.PokeCardWrapper {
  border: 5px solid yellow;
  border-radius: 5px;
  height: 50vh;
  margin-right: 1rem;
  padding: 0.3rem;
  width: 50%;
  font-family: 'pokemon';
  font-size: 0.9rem;
  text-transform: capitalize;
  transition: .3s ease;
}
.PokeCard {
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  background-color: lightgrey;
  height: 47vh;
}
.PokemonImage{
  width: 30%;
}
hr{
  height: 4px;
  background-color: black;
}

ul{
  text-decoration: none;
  list-style: none;
}
li {
  padding: 1%;
  border-bottom: 1px solid black;
}
