@font-face {
  font-family: 'pokemon';
  src: url('/font/PokemonGB.ttf');
}
@font-face {
  font-family: 'pokemon_silver_gold';
  src: url('/font/PokemonUnownGB.ttf');
}
@font-face {
  font-family: 'pokedex';
  src: url('/font/PocketMonk.otf');
}

* {
  box-sizing: border-box;
}

Body {
  background-color: red;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
}

.App {
  text-align: center;
  font-family: 'pokedex';
}

.App-header {
  color: yellow;
  font-size: 2rem;
  height: 150px;
  padding: 20px;
}
