@font-face {
  font-family: 'pokemon';
  src: url('/font/PokemonGB.ttf');
}
@font-face {
  font-family: 'pokemon_silver_gold';
  src: url('/font/PokemonUnownGB.ttf');
}
@font-face {
  font-family: 'pokedex';
  src: url('/font/PocketMonk.otf');
}

* {
  box-sizing: border-box;
}

Body {
  background-color: red;
  width: 100%;
  padding: 0 2rem;
  height: 100%;
}

main {
  display: flex;
}

.App {
  text-align: center;
  font-family: 'pokedex';
}

.AppHeader {
  align-self: center;
  color: yellow;
  font-size: 2rem;
  height: 150px;
  padding-bottom: 20px;
  margin-top: -50px;
}

.BlueThing {
  margin-top: 10px;
  border: 2px solid white;
  background-color: blue;
  height: 100px;
  border-radius:50%;
  width: 100px;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: blue;
  }
  25% {
    background-color: #547CFF;
  }
  50% {
    background-color: #3C6BFF;
  }
  100% {
    background-color: blue;
  }
}
